@model IEnumerable<SGCP.Web.Models.ModuloProducto.ProductoGetModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Productos</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                IdProducto
            </th>
            <th>
                Nombre
            </th>
            <th>
                Descripcion
            </th>
            <th>
                Categoria
            </th>
            <th>
                Precio
            </th>
            <th>
                Stock
            </th>
            <th>
                FechaCreacion
            </th>
            <th>
                FechaModificacion
            </th>
            <th>
                UsuarioModificacion
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @item.idProducto
                </td>
                <td>
                    @item.nombre
                </td>
                <td>
                    @item.descripcion
                </td>
                <td>
                    @item.categoria
                </td>
                <td>
                    @item.precio
                </td>
                <td>
                    @item.stock
                </td>
                <td>
                    @item.fechaCreacion
                </td>
                <td>
                    @item.fechaModificacion
                </td>
                <td>
                    @item.usuarioModificacion
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.idProducto }) |
                    @Html.ActionLink("Details", "Details", new { id = item.idProducto }) |
                </td>
            </tr>
        }
    </tbody>
</table>
